:root {
    --light-beige: #F0F1ED;
    --medium-green: #808D63 ;
    --dark-green: #4F6034;
}


body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--light-beige);
    padding-bottom: 100px;
    margin: 0px;
    font-size: 16px;
    color:var(--dark-green);
}


/*navigation bar*/
nav {
    background-color: var(--dark-green);
    color: var(--light-beige);   
  }

h1{
    font-size: 1.5rem;
    margin: 0 10px;
    padding-block: 20px;
    color: var(--light-beige);
    text-align: left;
}

  
nav a {
    color: var(--light-beige);
    margin: 20px 10px;
    text-decoration:none;
    font-size: 1rem;
    color: var(--light-beige);
  }

.nav-link{
    display: flex;
    align-items: center; 
    justify-content: center; 
}


nav a:hover {
    background-color: white;
  }

/*jumbotron hero section*/
.jumbotron {
padding: 70px;
color: var(--dark-green);
background-image: url(../css/banner.png); 
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;
}


.avatar{
    width: 310px;
    margin: 0px 50px;
}


h2{
    font-size: 2.5rem;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: var(--medium-green);
    line-height: 2;
}

.summary {
    color: white;
    }

    
/*Work section*/

h3{
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: var(--medium-green);
    line-height: 2.5;
}

#work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 1024px;
    margin: 20px auto;
}

#work-decor {
    width: 310px;
    margin: 0px 50px 0px 50px;
}

/*Work section: grids design*/
.work-grid {
    margin: 10px auto;
    display: grid;
    height: auto;
    width:auto;
    grid-template-rows: 300px 300px;
    grid-template-columns: 50% 25% 25%;    
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
    "placeholder1 placeholder2 placeholder3"
    "placeholder1 placeholder4 placeholder4";
}

#placeholder1 {
    grid-area: placeholder1;
}

#placeholder2 {
    grid-area: placeholder2;
}

#placeholder3 {
    grid-area: placeholder3;
}

#placeholder4 {
    grid-area: placeholder4;
}

.work-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-grid section {
    position:relative
}

.work-grid header{
    position: absolute;
    top: 50%; 
    left: 10%;
    color: white;
    font-size: 1.5rem;

}

/*Work card display section*/

.work-cards{
    background-image: url(../css/work-decor.png);
    background-size:contain; 
    background-position: left; 
    background-repeat: no-repeat;
    height: auto;
    width: max-content;
}


.skills-section {
background-color:  rgb(1, 44, 1);
border: 30px solid rgb(1, 44, 1);
color: var(--light-beige);
}


/*heading for skill and about section*/

    /*heading style*/
h4, h5{
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: var(--medium-green);
    line-height: 2.5;
    text-align: right;
}  

.section-name{
    margin: 50px 0px;
    }

    /*section content layout*/
.section-content {
    padding-right: 200px;
}

    
/*About section*/


.about-section .section-content{
margin: 50px auto 20px 20px;
}

.about-section .btn {
display: flex;
width:fit-content;
justify-content: left;
margin: 20px;
}

/*contact section*/
h6 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-align: center;
    text-decoration-color: var(--medium-green);
    padding:100px;
    line-height: 2.5;
    padding-bottom: 20px;
}


.contact-info{
display: flex;
justify-content:center;
align-items: flex-start;
}

.contact-info img {
height: 50px;
width: auto;
margin: 20px;
}


img {
    width: 100%;
    height: auto;
}


/*mobile screen diplay*/
@media screen and (max-width: 768px) {


    /*Work section*/
    #work {
        display: inline;
        text-align: center;      
        padding: 0px;
        width: auto;
        margin: 50px 20px 0px 20px;
    }
    
    #work-decor {
        display: none;
    }
    
    
    .work-grid {
        margin: 0px auto;
        display: grid;
        height: auto;
        width:auto;
        margin: 5px;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;    
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-areas:
        "placeholder1"
        "placeholder2"
        "placeholder3"
        "placeholder4";
    }
    
   
    .work-grid img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .work-grid section {
        position:relative
    }
    
    .work-grid header{
        position: absolute;
        top: 50%;
        left: 5%;
        color: white;
        font-size: 1.5rem;
    }


    h4, h5{
        text-align: center;
    }  

.section-content {
text-align: center;
}

.about-section .btn {
display: flex;
width:fit-content;
justify-content: center;
}